header {
	background-color: white;
	box-shadow: 0 6px 4px rgba(0, 0, 0, 0.3);
	position: relative;
	padding: 0 10%;
	text-align: center;
}

header > a {
	display: flex;
}

header img {
	height: 65px;
}

header .selected {
	color: #4a70e4;
	border-bottom: 1px solid #4a70e4;
}

header nav a {
	margin: 1em;
}

@media (min-width: 850px) {
	header {
		height: 75px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
@media (max-width: 850px) {
	header nav {
		padding: 1em 0;
	}
	header a {
		width: 200px;
		margin: auto;
	}
}
@media (max-width: 425px) {
	header nav a {
		display: block;
		width: 100px;
		margin: 1em auto;
	}
}
